<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <img src="/src/components/Capture.jpg"  srcset=""> 


    <p>> Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi quidem fugiat commodi suscipit? Iusto numquam eius similique modi vel quo ab fugiat consequuntur laudantium autem facilis officia et vitae hic pariatur, suscipit vero debitis ut.</p>


</body>
</html>